
.nav {
    
    background-color: burlywood;
}
.jumbotron {
    padding-top: 6rem;
    background-color: lightgoldenrodyellow;
}

#galery {
    background-color: lightgoldenrodyellow;
    
}

.footer {
    
    background-color: burlywood;
}

section {
    padding-top: 5 rem;
}